<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1003582676731-r1p8fkq41ntpsuej28nmb8hut8rvr0dj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003582676731-r1p8fkq41ntpsuej28nmb8hut8rvr0dj</string>
	<key>API_KEY</key>
	<string>AIzaSyB0wRd5ZYTNzIbpHRULVoUxTySuudsrgtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1003582676731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ootd</string>
	<key>PROJECT_ID</key>
	<string>oh-ootd-7f530</string>
	<key>STORAGE_BUCKET</key>
	<string>oh-ootd-7f530.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003582676731:ios:22327a98a53ee766e71a5e</string>
</dict>
</plist>